<h2 class="text-center"><%= t('global.button.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mt-3 mb-2 row"> 
    <%= f.label :email, class: 'fst-italic col-sm-2 col-form-label' %>

    <div class="col-sm-10">   
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, minlength: 6, maxlength: 30, class: 'form-control' %>
    </div>
  </div>

  <div class="mt-0 mb-2 row">
    <%= f.label :username, class: 'fst-italic col-sm-2 col-form-label' %>
    <div class="col-sm-10">   
      <%= f.text_field :username, autocomplete: "username", required: true, minlength: 2, maxlength: 50, class: 'form-control' %>
    </div>
  </div>

  <div class="mt-0 mb-2 row">
    <%= f.label :password, class: 'fst-italic col-sm-2 col-form-label' %>

    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "new-password", required: true, minlength: 6, maxlength: 30, class: 'form-control'%>
    </div>
  </div>

  <div class="mt-0 mb-2 row">
    <%= f.label :password_verification, class: 'fst-italic col-sm-2 col-form-label' %>

    <div class="col-sm-10">
      <%= f.password_field :password_verification, autocomplete: "new-password", required: true, minlength: 6, maxlength: 30, class: 'form-control' %>
    </div>    
  </div>

  <div class="mt-0 row"> 
        <div class="d-flex justify-content-end mt-0 mb-0">
          <%= f.submit t('global.button.sign_up'), class: 'btn btn-outline-primary btn-sm' %>
        </div>      
  </div>
<% end %>

<div class="mt-0 mb-0 row">
  <%= render "devise/shared/links" %>
</div>