<article class=" mb-0 mt-0" id="comment-<%= comment.id %>" >  
  <div class="card-body ms-5">
    <section class="card-text">
      <div>
        <p><i>Author  <strong><%= comment.author %></strong></i></p>
        <p><i><%= comment.body %></i></p>
      </div>
      <small><time datetime="<%= comment.formatted_created_at %>">
        <%= comment.formatted_created_at %></time></small> 
      </section>

      <nav class="d-flex justify-content-start mt-1 mb-3">
        <%= link_to 'Edit', edit_article_comment_path(article, comment),
          data: {turbo: false}, class: 'btn btn-outline-warning btn-sm me-1' %>               
        <%= link_to 'Delete', article_comment_path(article, comment),
          class: 'btn btn-outline-danger btn-sm ',
          data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } %>    
      </nav> 

    </div>
  </article>  