<%= tag.article class: 'card mb-3 border-0', id: dom_id(comment) do %>    
  <div class="row g-0">
     <div class="col-sm-auto text-sm-center align-self-center">
      <%= gravatar(comment.user, size: 60, css_class: 'd-block') %>
      <%= username_or_email(comment.user) %>
    </div>
    
<div class="col-sm">      
  <div class="card-body ms-2">
    <section class="card-text mt-5">
      <div>
        <p><i><%= t('.label') %><strong><%= comment.author %></strong></i></p>
        <p><i><%= comment.body %></i></p>
      </div>
      <small><time datetime="<%= formatted_created_at(comment) %>">
        <%= formatted_created_at(comment) %></time></small> 
      </section>

      <nav class="d-flex justify-content-start mt-1 mb-3">
        <%= link_to t('global.button.edit'), edit_article_comment_path(article, comment),
          data: {turbo: false}, class: 'btn btn-outline-warning btn-sm me-1' %>               
        <%= link_to t('global.button.delete'), article_comment_path(article, comment),
          class: 'btn btn-outline-danger btn-sm ',
          data: { turbo_confirm: t('global.dialog.you_sure'), turbo_method: :delete } %>    
      </nav> 
  </div>
</div>
  <% end %> 