<div class="mb-3">
  <%= tag.article class: 'card mt-0 mb-2', id: dom_id(article) do %>   
    <section class="card-header mt-0">
      <%= gravatar(article.user) %>
      <%= username_or_email(article.user) %>
    </section>

  <div class="card-body"> 
    <section class="card-text text-center"> 
      <div>      
        <p><strong><%= strip_tags article.title %></strong></p>
        <p><%== sanitize truncated_text(article.text) %></p>
      </div> 
      <time datetime="<%= formatted_created_at(article) %>"><small>
        <%= formatted_created_at(article) %></small></time>
    </section>

    <nav class="mb-0 mt-2 d-flex justify-content-center">
      <%= link_to t('global.button.show'), article_path(article), data: {turbo: false}, class: 'btn btn-outline-info btn-sm me-1' %>  
      <%= link_to t('global.button.edit'), edit_article_path(article), data: {turbo: false}, class: 'btn btn-outline-warning btn-sm me-1' %>  
      <%= link_to t('global.button.delete'), article_path(article), class: 'btn btn-outline-danger btn-sm',
      data: { turbo_confirm: t('global.dialog.you_sure'), turbo_method: :delete } %> 
    </nav>         
</div> 

<% end %>
</div>