  <nav>
    <%= link_to 'Contact Us!', new_contacts_path(@contact) %> |
    <%= link_to 'About', about_path(@about) %> |
    <%= link_to 'Terms', terms_path(@terms) %> |
  </nav>
  <br>
      <h2>List of articles</h2> <br>
   
      <% @articles.each do |article| %>
      <div>
        <p><strong><%= article.title %></strong></p>
        <p><%= article.text %></p>
        <br>
        
        <nav>
          <%= link_to 'Show', article_path(article) %> |
          <%= link_to 'Edit', edit_article_path(article) %> | 
          <%= link_to 'Delete', article_path(article),
          data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } %> 
        </nav> 

        
 
        <hr>
    </div>    
    <% end %>