   
<nav class=" gap-3 d-flex flex-wrap align-items-center justify-content-center ">   
  <%= link_to 'Contact Us', new_contacts_path(@contact), class: 'link-secondary' %>
  <%= link_to 'About', about_path(@about), class: 'link-secondary' %>
  <%= link_to 'Terms', terms_path(@terms), class: 'link-secondary' %>    
</nav>
<br>

  <h3 class="mb-6">List of <span class="badge rounded-pill text-bg-secondary">articles</span></h3>
    <article> 
    <% @articles.each do |article| %>
      <div >         
        <p><strong><%= article.title %></strong></p>
        <p><%= article.text %></p>
        <time datetime="<%= article.formatted_created_at %>"><small>
		      <%= article.formatted_created_at %></small></time>
                   
        <nav class="mb-4 mt-2">
          <%= link_to 'Show', article_path(article), class: 'btn btn-outline-info btn-sm me-1' %>  
          <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-outline-warning btn-sm me-1' %>  
          <%= link_to 'Delete', article_path(article), class: 'btn btn-outline-danger btn-sm',
          data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } %> 
        </nav>         
    </div> 
    </article>    
    <% end %>
    
    <div>
      <h4>Article <span class="badge rounded-pill text-bg-secondary">New</span></h4>
      <p><%= render 'form_article', article: @article %></p>
    </div>