  <h3><%= @article.title %></h3> 

  <p><strong><%= @article.text %></strong></p> 

  <time datetime="<%= @article.formatted_created_at %>"><small>
		<%= @article.formatted_created_at %></small></time>
    <hr>      
    

      <h3>Comments</h3>
      <br>
      <% @article.comments.each do |comment| %>
      <div>
        <p><i>Author  <strong><%= comment.author %></strong></i></p>
        <p><i><%= comment.body %></i></p>

        <time datetime="<%= comment.formatted_created_on %>"><small>
		    <%= comment.formatted_created_on %></small></time> 
      </div>
      <hr> 
      <% end %>
          
      <h4>Add comment</h4>
    
      <%= form_for([@article, @article.comments.build]) do |f| %>
      <div>  
        <p>
          <%= f.label :author %><br />
          <%= f.text_field :author, required: true, minlength: 2, maxlength: 50, size: "47x1"%>
        </p>

        <p>
          <%= f.label :body %><br />
          <%= f.text_area :body, required: true, minlength: 2, maxlength: 200, size: "50x1" %>
        </p>
      <nav>    
        <%= f.submit 'Save comment', class: 'btn btn-primary btn-sm'%>   
        <%= link_to 'Back', articles_path, class: 'btn btn-secondary btn-sm' %>
      </nav>


      </div>
      <% end %>
      