  <h2><%= @article.title %></h2> 

  <p><strong><%= @article.text %></strong></p> 
  <time datetime="<%= @article.formatted_created_at %>">
		      <%= @article.formatted_created_at %></time>
    <hr>      
    <br>

      <h3>Comments</h3>

      <% @article.comments.each do |comment| %>
      <div>
        <p><i>#<%= comment.id %></i></p>
        <p><i>Author  <strong><%= comment.author %></strong></i></p>
        <p><i><%= comment.body %></i></p>
        
      </div>

      <% end %>
      

      <h4>Add comment</h4><hr /> 
    
      <%= form_for([@article, @article.comments.build]) do |f| %>
      <div>  
        <p>
          <%= f.label :author %><br />
          <%= f.text_field :author, size: "47x1"%>
        </p>

        <p>
          <%= f.label :body %><br />
          <%= f.text_area :body, size: "50x1" %>
        </p>
          
        <p>
          <%= f.submit 'Save comment'%>
        </p>

      </div>
      <% end %>
      