<% provide :page_title, t('.tab_name') %>
<% currently_at t('shared.navbar.articles') %>

<article class="mb-4 card"> 
  <div class="card-body">
    <section class="card-text text-center">

    <div>
      <h4><%= strip_tags @article.title %></h4> 
   
      <p><strong><%= sanitize @article.text %></strong></p>
    </div>

      <time datetime="<%= formatted_created_at(@article) %>"><small>
		    <%= formatted_created_at(@article) %></small></time>  
    </section>

    <nav class="mb-0 mt-2 d-flex justify-content-center">
      <%= link_to t('.button.all_articles'), articles_path, class: 'btn btn-outline-info btn-sm me-1' %> 
      <%= link_to t('global.button.edit'), edit_article_path(@article), class: 'btn btn-outline-warning btn-sm me-1' %>  
      <%= link_to t('global.button.delete'), article_path(@article), class: 'btn btn-outline-danger btn-sm',
      data: { turbo_confirm: t('global.dialog.you_sure'), turbo_method: :delete } %> 
    </nav>  
  </div>  
</article> 

<h4 class="mt-4"><%= t('.header1') %><span class="badge rounded-pill text-bg-secondary"><%= t('.badge1') %></span></h4>
      
  <%= render 'comments/form' %>
    
<h4 class="mb-3 mt-0"><%= t('.header2') %><span class="badge rounded-pill text-bg-secondary"><%= t('.badge2') %></span></h4>

<%== pagination @pagy %>

<%= render partial: 'comments/comment', collection: @comments,
  as: :comment, locals: {article: @article} %>
          
<%== pagination @pagy %>      