<article class="mb-4 card"> 
  <div class="card-body">
    <section class="card-text text-center">

      <h3><%= @article.title %></h3> 

      <p><strong><%= @article.text %></strong></p> 

      <time datetime="<%= @article.formatted_created_at %>"><small>
		    <%= @article.formatted_created_at %></small></time>  
    </section>
  </div>  
</article> 

<h4 class="mt-4">Comment <span class="badge rounded-pill text-bg-secondary">add</span></h4>
      
  <%= render 'comments/form' %>
    
<h4 class="mb-3 mt-0">All <span class="badge rounded-pill text-bg-secondary">comments</span></h4>
      
<% @comments.each do |comment| %>
  <article class=" mb-0 mt-0">  
    <div class="card-body ms-5">
      <section class="card-text">
        <p><i>Author  <strong><%= comment.author %></strong></i></p>
        <p><i><%= comment.body %></i></p>

        <small><time datetime="<%= comment.formatted_created_at %>">
		      <%= comment.formatted_created_at %></time></small> 
      </section>

        <nav class="d-flex justify-content-start mt-1 mb-3">
          <%= link_to 'Edit', edit_article_comment_path(@article, comment),
            class: 'btn btn-outline-warning btn-sm me-1' %>               
          <%= link_to 'Delete', article_comment_path(@article, comment),
            class: 'btn btn-outline-danger btn-sm ',
            data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } %>    
        </nav>
      
    </div>
  </article>  
<% end %>
          
      