<% currently_at t('.change_pass') %>
<% provide :page_title, t('.change_pass') %>

<h2 class="text-center"><%= t('.change_pass') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="mt-3 mb-2 row">
     <%= f.label :password, t('global.share.new_password') %>
    <% if @minimum_password_length %>
      <em><%= t('.minimum_length', length: @minimum_password_length) %></em><br />
    <% end %>
    <div class="col-sm-10"> 
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
   </div>
  </div>

  <div class="mt-3 mb-2 row">
    <%= f.label :password_confirmation, t('.label2') %>
    <div class="col-sm-10"> 
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="mt-0 row"> 
    <div class="d-flex justify-content-end mt-0 mb-0">
      <%= f.submit t('global.share.change_my_pass') %>
    </div>      
  </div>
<% end %>

<div class="mt-0 mb-0 row">
  <%= render "devise/shared/links" %>
</div>