<% currently_at t('global.share.new_password') %>
<% provide :page_title, t('global.share.new_password') %>

<h2 class="text-center"><%= t('global.share.link1')%></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mt-3 mb-2 row"> 
    <%= f.label :email, class: 'fst-italic col-sm-2 col-form-label' %>
    <div class="col-sm-10">   
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, minlength: 6, maxlength: 30, class: 'form-control' %>
    </div>
  </div>

  <div class="mt-0 row"> 
    <div class="d-flex justify-content-end mt-0 mb-0">
      <%= f.submit t('.send_me_instructions'), class: 'btn btn-outline-primary btn-sm' %>
    </div>      
  </div>
<% end %>

<div class="mt-0 mb-0 row">
  <%= render "devise/shared/links" %>
</div>