<p><%= t('global.share.welcome', email: @email) %></p>

<p><%= t('.text1') %></p>

<p><%= link_to t('global.share.change_my_pass'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.text2') %></p>
<p><%= t('.text2') %></p>
