<%= render 'shared/errors', object: @user %>

<%= form_with model: [:admin, @user], data: {turbo: false} do |f| %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :email %>
    </div>

    <div class="col-sm-10">
      <%= f.email_field :email, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :username %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :username, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <% if @user.persisted? %> <!-- Проверяем, существует ли user в БД-->
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :role %>
    </div>

    <div class="col-sm-10">
      <%= f.select :role, user_roles, {}, class: 'form-select form-select-lg' %>
    </div>
  </div>
  <% end %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-1 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :password_confirmation %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="d-grid d-md-flex justify-content-md-end">
    <%= link_to t('users.global.forms.back'), admin_user_path,
        class: 'btn btn-outline-secondary ' %>

    <% t_key = (user.new_record? ? "register" : "save") %>
    <%= f.submit t(t_key, scope: 'users.global.forms'),
        class: 'btn btn-outline-primary ms-2' %>
  </div>
<% end %>