<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= l user.created_at, format: :long %></td>
  <td><%= l user.updated_at, format: :long %></td>
</tr>