<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-bs-theme="dark">
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>  

  </head>

  <body data-lang="<%= I18n.locale %>">
     <%= yield :main_menu %>

    <main class="container mt-3">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>

    <%= javascript_importmap_tags %>
  </body>
</html>