<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    

  </head>

  <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="<%= asset_path("logo.png") %> " alt="Логотип" style="height: 40px;"/>Blog</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to 'Главная', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Меню
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to 'Ссылка 1', '#', class: 'dropdown-item' %></li>
                <li><%= link_to 'Ссылка 2', '#', class: 'dropdown-item' %></li>
                <li><%= link_to 'Ссылка 3', '#', class: 'dropdown-item' %></li>
              </ul>
            </li>
          </ul>
          <div class="d-flex">
            <% if user_signed_in? %>
              <p class="text-white mb-0 me-2">
                @ <%= split_user_email(current_user) %>
              </p>
              <%= link_to t('.sign_out'), destroy_user_session_path, class: 'btn btn-outline-secondary btn-sm', data: { 'turbo-method': :delete } %>
            <% else %>
              <%= link_to t('.sign_in'), new_user_session_path, class: 'btn btn-outline-secondary btn-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <main class="container mt-3">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>

    <%= javascript_importmap_tags %>
  </body>
</html>