<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    

  </head>

  <body>
    <div class="container mt-2">
      <nav class="gap-3 d-flex flex-wrap align-items-start justify-content-start">
        <% if user_signed_in? %>
          <p>
            @ <%= split_user_email(current_user) %>
            <%= link_to t('.sign_out'), destroy_user_session_path, class: 'btn btn-outline-secondary btn-sm', data: { 'turbo-method': :delete } %>
          </p>
        <% else %>
          <%= link_to t('.sign_in'), new_user_session_path, class: 'btn btn-outline-secondary btn-sm' %>
        <% end %>
      </nav>
    </div>

    <main class="container mt-3">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>
    
    <%= javascript_importmap_tags %>
  </body>
</html>